
.wedding-container {
  width: 1000px;
  margin: auto;
}

.wedding-block-container {
  padding: 0px;
  margin: 0px;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  float: left;
  position: relative;
  mix-blend-mode: multiply;
  text-align: center;
  color: #fff;
}

.wedding-left-container {
  right: -60px;
}

.wedding-right-container {
  left: -60px;
}

div.wedding {
  position: relative;
}

div.wedding-top {
  margin-top: 80px;
}

