<!DOCTYPE html>
<html>
<head>
  <title>TIANGELA</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/fonts.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>
<body>
  <div class="transparent date"><span class="tian-color">TI</span><span class="tiangela-color">AN</span><span class="angela-color">GELA</span>
    <br><span class="tian-color">2015</span>.<span class="tiangela-color">12</span>.<span class="angela-color">19</span></div>
</body>
</html>