/*
body {
  background-image: url('/images/balloon.JPG');
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding:0px;
  margin:0px;
}

div.date {
  position: absolute;
  font-family: helvetica;
  font-size: 40pt;
  text-align: right;
  top: 15%;
  padding-top: 50px;
  margin: 0px;
  width: 100%;
}

.transparent {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(128, 128, 128, 0.3);
}*/

.circle-container { 
  height: 400px;
  width: 633px;
  left: -130px;
  top: -20px;
  position: absolute;
}
  
.circle-text {
  letter-spacing: 27px;
  top: 247px;
  left: 172px;
  float: left;
  color: white;
  position: absolute;
  font-family: moon-light;
  text-align: center;
  font-size: 53px;
}

.circle-tian { background-color: rgba(47, 67, 134, 0.9); }

.circle-angela { background-color: rgba(192, 73, 157, 0.9); left:233px; }

.circle {
  border-radius: 200px;
  height: 400px;
  width: 400px;
  position: absolute;
  mix-blend-mode: multiply;
}

.intro {
  width: 400px;
  position: absolute;
  top: 400px;
  margin-left: 32px;  
}
