
.bridal-party-container {
  padding-bottom: 20px;
}

.bridal-party-title {
  padding-top: 50px;
}

.bridal-party-row {
  clear: both;
  margin: auto;
}

.bridal-party-text {
  float: left;
  color: #000;
  text-align: left;
  font-size: 10pt;
  line-height: 1.5;
  width: 42%;
  opacity: 0;
  padding: 2%;
  margin: 2%;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.bridal-party-animate {
  opacity: 1;
}

.bridal-party-image-container {
  float: left;
  margin: 8px;
  height: 120px;
  width: 150px;
}

img.bridal-party-image {
  float: left;
  position: relative;
  left: -10px;
  border-radius: 50%;
  z-index: 1;
  height: 120px;
  width: 120px;
}

.bridal-party-circle { 
  float: left;
  position: relative;
  top: -120px; /* Move up to match height of bridal-party-image */
  left: 30px; /* Move right */
  height: 120px;
  width: 120px;
  border-radius: 50%;
  z-index: -1;
}

.bridal-party-title {
  font-weight: 900;
  text-transform: uppercase;
}
